* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img//contacto/contacto.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor .form .formHeader .formTitulo {
    font-weight: normal;
    font-family: sans-serif;
    color: #DE423A;
    text-align: center;
    padding: 14px 0;
}

.contenedor .form .formHeader .formTitulo span {
    color: #fff;
}

.contenedor .form {
    background: rgba(0, 0, 0, .6);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
}

.contenedor .form .formLabel {
    display: block;
    color: #DE423A;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.contenedor .form .formInput, .formTextArea {
    background: rgba(0, 0, 0, .7);
    border: none;
    outline: none;
    border-bottom: 2px solid #DE423A;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.contenedor .form .formTextArea {
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}

.contenedor .form .btnSubmit {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    background:#DE423A;
    font-size: 16px;
    border: none;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor .form .btnSubmit:hover {
    background: #cf807c;
}
